@import 'tailwindcss';

:root {
  --background: theme('colors.neutral.50');
  --foreground: theme('colors.neutral.900');

  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.neutral.950');
    --foreground: theme('colors.neutral.100');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
